---
import Layout from "../layouts/Layout.astro";
import { obras } from "../data/obras";
import Header from '../components/Header.astro';
export const prerender = false
const { obra } = Astro.params
const info = obras.find(o => o.id === obra)
if (!info) {
  return Astro.redirect("/404")
}
---

<Layout title={`${info.id}`}>
    <div class="grid grid-cols-1 md:grid-cols-[350px_1fr] gap-x-12 mt-4 md:mt-20 px-8">

      <div class="flex flex-col mb-10">
        <picture class="mb-8 w-full relative">
          <img
            class="aspect-[389/500] h-full object-cover w-full max-w-full rounded"
            src={info.img}
            alt={`${info.id}`}
            style={`view-transition-name: obra-${info.id}`}
          />
        </picture>

      <aside class="mt-10 md:mt-0">
        <p class="text-lg mb-4">{info.tecnica}</p>
        <p class="text-lg mb-4">{info.formato}</p>
        <p class="text-lg mb-4">Serie: {info.serie}</p>
        <p class="text-lg mb-4">Año: {info.año}</p>
      </aside>
    </div>
  </div>  
</Layout>