---
import Layout from "../layouts/Layout.astro";
import { obras } from "../data/obras";
import Header from '../components/Header.astro';
export const prerender = false
const { obra } = Astro.params
const info = obras.find(o => o.id === obra)
if (!info) {
  return Astro.redirect("/404")
}
---

<Layout title={`${info.id}`}>
    <main class="m-auto max-w-6xl px-5 py-3">
      <div class="mb-10">
        <picture class="flex justify-center mt-4 mb-4">
          <img
            class="flex h-full object-cover w-full max-w-[680px] rounded"
            src={info.img}
            alt={`${info.id}`}
            style={`view-transition-name: obra-${info.id}`}
          />
        </picture>

      <aside class="mt-10 md:mt-0">
        <p class="mb-2 text-3xl tracking-tight font-extrabold text-center text-gray-900 dark:text-black">De la serie {info.serie}</p>
        <p class="mb-2 text-3xl tracking-tight font-extrabold text-center text-gray-900 dark:text-black">{info.tecnica}</p>
        <p class="mb-2 text-3xl tracking-tight font-extrabold text-center text-gray-900 dark:text-black">{info.formato}</p>
        <p class="mb-2 text-3xl tracking-tight font-extrabold text-center text-gray-900 dark:text-black">{info.año}</p>
      </aside>
    </div>
  </main>  
</Layout>